
/* makes sticky footer function*/

html {
  height: 100%;
}
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background-image: url(../images/cute-pokemon-tag.png);
  background-size: 100%;
  background-repeat: repeat;
  text-align: center;
}
.content {
  flex: 1;
  padding: 0px;
}
.footer {
  padding: 0px;

}
/* end of sticky footer */ 


h2 {
	text-align: center;
}

h1 {
	text-align: center;
	padding: 20px 0px 40px 0px;

}

button{
	clear: both;
}

img {
	height: 100px;
	width: 100px;

}

.gameCharacter{
	float: left;
	border-style: solid;
	border-width: 3px;
	padding: 10px;
	height: 150px;
	width: 150px;
}

#sector{
	background-color: #DFE1DA;
	border-style: solid solid solid solid;
	padding-top: 10px;
	padding-bottom: 10px;
	border-width: 3px;
}

.stagingArena{
	display: flex;
	align-items: center;
	justify-content: center;
}

.enemyArena{
	display: flex;
	align-items: center;
	justify-content: center;
}

#pokemonHolder{
	display: flex; 
	align-items: center;
	justify-content: center;
}

.container-fluid{
	margin:0px;
	padding: 0px;
}

.update{
	font-size: 16px;
	background-color: #5A9097;
	border-width: 5px;
	border-style: solid solid solid solid;
	border-color: #CD5238;
	margin-top: 10px;
}

.row{
	margin: 0px;
	padding: 0px;
}

.endingDiv{
	margin-top: 100px;
}
